body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Estilo del contenedor del formulario */
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 200px;
}

/* Estilos del encabezado del perfil */
.producto-header {
  text-align: center;
  margin-bottom: 20px;
  color: #454546;
}


/* Estilo de los campos de entrada */
.container div {
  margin-bottom: 15px;
}

/* Estilo de las etiquetas del formulario */
.container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilo del widget de estrellas */
.star-widgeet {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo de las estrellas */
.star {
  margin-right: 5px;
  cursor: pointer;
}

/* Estilo de la etiqueta de entrada de texto y área de texto */
input[type="text"],
input[type="number"],
input[type="textarea"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

/* Estilo del botón de envío */
.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo de la etiqueta de entrada de radio */
input[type="radio"] {
  display: none;
}

/* Estilo del formulario */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilo de la etiqueta del formulario */
label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

/* Estilo del botón Guardar Producto */
.boton-guardar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-guardar button {
  padding: 10px 20px;
  background-color: #ff98d4;

  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.boton-guardar button:hover {
  background-color: #f59ac7;

}

/* Estilo del botón Guardar Añadir Categ */

.boton-addcategoria {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-addcategoria button {
  padding: 10px 20px;
  background-color: #ff98d4;

  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.boton-addcategoria button:hover {
  background-color: #f59ac7;

}

/* Estilo del contenedor de carga de imagen */
.image-container {
  margin-top: 0px;

  justify-content: center;
}

/* Estilo del botón de carga de imagen */
.image-container input[type="file"] {
  padding: 5px 10px;
  margin-left: 10px;

  border: none;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;

  justify-content: center;

}

/* Estilo de la imagen cargada */
.image-container img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;

  justify-content: center;
}

/* Estilo del ListBox de selección de producto */
.select-product {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Estilo de la etiqueta del ListBox */
.select-product label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
}

/* Estilo del ListBox */
.select-product select {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #f59ac7;;
  margin-bottom: 20px;
}


/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}