/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  
  /* Estilo del encabezado del producto */
  .producto-header {
    text-align: center;
    margin-bottom: 20px;
    color: #454546;
  }
  
  /* Estilo del contenedor del producto */
  .planner {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Estilo de la imagen del producto */
  .imagen-planner {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  /* Estilo de la imagen ampliada del producto */
  .ampliada {
    transform: scale(1.1);
  }
  
  /* Estilo del título del producto */
  .titulo-planner {
    font-size: 24px;
    color: #454546;
    margin-bottom: 10px;
  }
  
  /* Estilo de la descripción del producto */
  .descripcion {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
  }
  
  /* Estilo del botón para editar el producto */
  .button-planner {
    padding: 10px 20px;
    background-color: #ff98d4;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo del botón para editar el producto al pasar el cursor */
  .button-planner:hover {
    background-color: #f59ac7;
  }
  